<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Магазин продуктів</title>
     <style>
   table {
    width: 100%;
    background: #f5cece;
    color: white;
    border-spacing: 1px;
   }
   td, th {
    background: #800066; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
   }
  </style>
 </head>
 <body>
<center><h3>Весь список продуктів</h3></center>
<center><table border="Всі продукти">
    <tr>
        <th><i>Катерорія</i></th>
        <th><i>Назва продукту</i></th>
        <th><i>Ціна</i></th>
        <th><i>Дата виготовлення</i></th>
    </tr>
    {%for i in one%}
    <tr>
        <th>{{i.category.name}}</th>
        <th>{{i.product}}</th>
        <th>{{i.price}}</th>
        <th>{{i.year}}</th>
    </tr>
    {%endfor%}
</table></center>
 <h4>Всі продукти, які починаються на 'Л'</h4>
 {%for i in two%}
   {{i.category.name}}
   {{i.product}}
 {%endfor%}
  <h4>Всі продукти з цінами</h4>
 {%for i in one%}
   {{i.product}}:<i>ціна {{i.price}}</i>. Дата створення {{i.year}}<br>
 {%endfor%}
 </body>
</html>