<h3>Весь список</h3>
{%for i in one%}
{{i.n}}<br>
{%endfor%}
<h3>Перші два</h3>
{%for i in two%}
{{i.n}}<br>
{%endfor%}
<h3>Які починаються на 'a'</h3>
{%for i in three%}
{{i.n}}<br>
{%endfor%}
<h3>Які не починаються на 'a'</h3>
{%for i in four%}
{{i.n}}<br>
{%endfor%}